In [5]:
# References: 
# 10 minutes to Pandas: https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html
# Docs - https://pandas.pydata.org/pandas-docs/stable/reference/index.html
# Datacamp cheat sheet: http://datacamp-community-prod.s3.amazonaws.com/dbed353d-2757-4617-8206-8767ab379ab3

In [3]:
# Imports
import pandas as pd
import numpy as np
import random as rand
#path = 'C:\\Users\\K\\AIDeepDiveMaterials\\' 
path = 'C:\\Users\\hksingh\\Documents\\AIDeepDive\\' # Replace with the folder containing the materials for this class
pd.__version__

'0.25.1'

In [4]:
# Life without arrays
rand.seed(22)
names = ['Krista', 'Jose', 'Arun', 'Marek', 'Joe']
heights = [rand.randint(150,200) for i in names]
ages = [rand.randint(18,80) for i in names]
print(names)
print(heights)
print(ages)

['Krista', 'Jose', 'Arun', 'Marek', 'Joe']
[158, 165, 151, 189, 178]
[29, 62, 25, 65, 59]

In [5]:
# Multiple each age, add 2 to each age
print(ages*2)
#print(ages+2)

# comment out the above after running the first time

[29, 62, 25, 65, 59, 29, 62, 25, 65, 59]

In [6]:
# Multiply age by 2
def elementwise_multiplication(my_list, var):
    new = []
    for element in my_list:
        new.append(element*var)
    return new

age_by_two = elementwise_multiplication(ages, 2)
print(age_by_two)   

# With Pandas
print(pd.Series(ages)*2)

[58, 124, 50, 130, 118]
0     58
1    124
2     50
3    130
4    118
dtype: int64

In [7]:
# Consider how you would perform the following using python lists:
    # Select only ages where height is above 160 cm
    # Get Arun's information (age and height) only
    # Sort by height

In [8]:
# Pandas
# Tabular and human-friendly (excel/SQL-like interface)
# Homogeneous or heterogeneous data
# Row and column labels!
# Similarities to R's data.frame...but with more

In [9]:
# Pandas Series & DataFrames (2 primary data structures)
# https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html#dsintro

my_series = pd.Series([1,2,np.nan,5,4])

print(my_series)
print(type(my_series))

0    1.0
1    2.0
2    NaN
3    5.0
4    4.0
dtype: float64
<class 'pandas.core.series.Series'>

In [10]:
# DataFrame 

my_df = pd.DataFrame(np.random.randn(6,4),columns=list('ABCD')) # created from a 2D numpy array, could use list of lists

print()
print(my_df)
print(type(my_df))

          A         B         C         D
0  0.233062 -1.035215  0.682010 -0.003006
1 -0.079919  0.454285  0.254214 -0.155826
2  0.155068  0.007245  1.110202 -0.334466
3 -1.038490  0.722830 -0.901502 -0.499893
4  2.380744 -0.017039  1.495058 -0.744121
5  0.843726 -0.197619  0.491144 -0.568769
<class 'pandas.core.frame.DataFrame'>

In [11]:
print(my_df['A'])
type(my_df['A']) # an individual column of a dataframe is a pandas series

0    0.233062
1   -0.079919
2    0.155068
3   -1.038490
4    2.380744
5    0.843726
Name: A, dtype: float64

pandas.core.series.Series

In [12]:
# Index - row labels
print(my_series.index)

my_df.index

RangeIndex(start=0, stop=5, step=1)

RangeIndex(start=0, stop=6, step=1)

In [13]:
# Indicating indices on creation
my_series=pd.Series([1,2,np.nan,5,4], index=list('ABCDE'))
print(my_series)

my_df=pd.DataFrame(np.random.randn(6,4),columns=list('ABCD'), index=list('ABCDEF'))
print()
print(my_df)

A    1.0
B    2.0
C    NaN
D    5.0
E    4.0
dtype: float64

          A         B         C         D
A -0.196202  0.184470 -0.119512  0.286582
B  1.435078 -0.644364  0.782691  2.588081
C  0.976076 -0.701386  1.318897 -0.217495
D  1.613175  0.499891 -0.681538 -0.419899
E  0.688449  1.532617 -0.424555  0.716651
F -0.978665 -1.807043 -0.321734 -1.090505

In [14]:
# Read-in from csv
# Reference: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
df = pd.read_csv(path+'SPTSXComposite.csv') # path defined in cell 2

In [15]:
# Viewing DataFrames
df.shape # (rows, columns)

(132, 6)

In [16]:
df.head() # View first 5 rows

,Name,Ticker,TotalAssets,TotalRevenue,GeographicSegments,PrimarySector
0,Agnico Eagle Mines Limited (NYSE:AEM),NYSE:AEM,10715.5,2990.0,5.0,Materials
1,Air Canada (TSX:AC),TSX:AC,19197.0,18065.0,5.0,Industrials
2,Alamos Gold Inc. (TSX:AGI),TSX:AGI,4455.5,889.4,4.0,Materials
3,Algonquin Power & Utilities Corp. (TSX:AQN),TSX:AQN,12811.6,2247.9,2.0,Utilities
4,Alimentation Couche-Tard Inc. (TSX:ATD.B),TSX:ATD.B,30426.3,79562.8,3.0,Consumer Staples

In [17]:
df.tail() # Last 5

,Name,Ticker,TotalAssets,TotalRevenue,GeographicSegments,PrimarySector
127,West Fraser Timber Co. Ltd. (TSX:WFT),TSX:WFT,4791.0,6118.0,5.0,Materials
128,WestJet Airlines Ltd. (TSX:WJA),TSX:WJA,6758.1,4728.4,4.0,Industrials
129,Wheaton Precious Metals Corp. (TSX:WPM),TSX:WPM,8828.6,1083.5,9.0,Materials
130,WSP Global Inc. (TSX:WSP),TSX:WSP,7766.6,7908.1,8.0,Industrials
131,Yamana Gold Inc. (TSX:YRI),TSX:YRI,10933.9,2454.1,5.0,Materials

In [18]:
# Column names
df.columns

Index(['Name', 'Ticker', 'TotalAssets', 'TotalRevenue', 'GeographicSegments',
       'PrimarySector'],
      dtype='object')

In [19]:
# Current index
df.index

RangeIndex(start=0, stop=132, step=1)

In [20]:
# Set new index
df.Ticker.is_unique    # Check series for uniqueness

True

In [21]:
df = df.set_index('Ticker')  # Set ticker as new index
print(df.index)

Index(['NYSE:AEM', 'TSX:AC', 'TSX:AGI', 'TSX:AQN', 'TSX:ATD.B', 'TSX:AP.UN',
       'TSX:ALA', 'TSX:ACO.X', 'TSX:ACB', 'TSX:BTO',
       ...
       'TSX:TIH', 'TSX:TOU', 'TSX:RNW', 'TSX:VET', 'NYSE:WCN', 'TSX:WFT',
       'TSX:WJA', 'TSX:WPM', 'TSX:WSP', 'TSX:YRI'],
      dtype='object', name='Ticker', length=132)

In [22]:
df.head()

,Name,TotalAssets,TotalRevenue,GeographicSegments,PrimarySector
Ticker,,,,,
NYSE:AEM,Agnico Eagle Mines Limited (NYSE:AEM),10715.5,2990.0,5.0,Materials
TSX:AC,Air Canada (TSX:AC),19197.0,18065.0,5.0,Industrials
TSX:AGI,Alamos Gold Inc. (TSX:AGI),4455.5,889.4,4.0,Materials
TSX:AQN,Algonquin Power & Utilities Corp. (TSX:AQN),12811.6,2247.9,2.0,Utilities
TSX:ATD.B,Alimentation Couche-Tard Inc. (TSX:ATD.B),30426.3,79562.8,3.0,Consumer Staples

In [23]:
# Indicate the column name to use as the index when reading in the CSV (index_col=)
# Limit the columns read in, this saves space (usecols=)

print(pd.read_csv(path+'SPTSXComposite.csv',index_col='Ticker',usecols=['Name', 'PrimarySector','Ticker']).head(3))

                                           Name PrimarySector
Ticker
NYSE:AEM  Agnico Eagle Mines Limited (NYSE:AEM)     Materials
TSX:AC                      Air Canada (TSX:AC)   Industrials
TSX:AGI              Alamos Gold Inc. (TSX:AGI)     Materials

In [24]:
# Datatypes
df.dtypes

Name                   object
TotalAssets           float64
TotalRevenue          float64
GeographicSegments    float64
PrimarySector          object
dtype: object

In [25]:
# Converting types
df = df.astype({'PrimarySector':'category', 'TotalAssets':'float32', 'TotalRevenue':'float32'})
# {Column_name: datatype,...}
df.dtypes

Name                    object
TotalAssets            float32
TotalRevenue           float32
GeographicSegments     float64
PrimarySector         category
dtype: object

In [36]:
#### Exercise ####
# Perform the following steps using this new dataframe (new_df)
new_df = df.copy()

In [37]:
new_df.head()

,Name,TotalAssets,TotalRevenue,GeographicSegments,PrimarySector
Ticker,,,,,
NYSE:AEM,Agnico Eagle Mines Limited (NYSE:AEM),10715.500000,2990.000000,5.0,Materials
TSX:AC,Air Canada (TSX:AC),19197.000000,18065.000000,5.0,Industrials
TSX:AGI,Alamos Gold Inc. (TSX:AGI),4455.500000,889.400024,4.0,Materials
TSX:AQN,Algonquin Power & Utilities Corp. (TSX:AQN),12811.599609,2247.899902,2.0,Utilities
TSX:ATD.B,Alimentation Couche-Tard Inc. (TSX:ATD.B),30426.300781,79562.796875,3.0,Consumer Staples

In [42]:
# Change the type of "TotalAssets" to int
new_df=new_df.astype({'TotalAssets':'int'})

# Check that it worked by printing the datatypes to screen

new_df.dtypes

Ticker                  object
TotalAssets              int32
TotalRevenue           float32
GeographicSegments     float64
PrimarySector         category
dtype: object

In [40]:
new_df = new_df.reset_index()

In [41]:
# Make "Name" the index instead of "Ticker"
new_df = new_df.set_index('Name')
new_df.head()

,Ticker,TotalAssets,TotalRevenue,GeographicSegments,PrimarySector
Name,,,,,
Agnico Eagle Mines Limited (NYSE:AEM),NYSE:AEM,10715,2990.000000,5.0,Materials
Air Canada (TSX:AC),TSX:AC,19197,18065.000000,5.0,Industrials
Alamos Gold Inc. (TSX:AGI),TSX:AGI,4455,889.400024,4.0,Materials
Algonquin Power & Utilities Corp. (TSX:AQN),TSX:AQN,12811,2247.899902,2.0,Utilities
Alimentation Couche-Tard Inc. (TSX:ATD.B),TSX:ATD.B,30426,79562.796875,3.0,Consumer Staples

In [43]:
# Check the top 5 rows
# Print just the column names
print(new_df.columns)

#### End of Exercise ###

Index(['Ticker', 'TotalAssets', 'TotalRevenue', 'GeographicSegments',
       'PrimarySector'],
      dtype='object')

In [44]:
# Describe and summarize
df.describe().round(1) # automatically selects numeric columns, ignores nans

       TotalAssets  TotalRevenue  GeographicSegments
count        132.0         132.0               124.0
mean       79793.3       11634.7                 4.8
std       218163.2       15739.7                 4.2
min          261.1          15.7                 1.0
25%         5077.7        1683.9                 2.0
50%        11690.3        5005.6                 3.5
75%        35186.8       14151.5                 6.0
max      1334903.0       79975.7                24.0

In [45]:
# The describe method is also implemented for pandas series
# See what happens when you ask pandas to describe a categorical variable (same result for any object type series)
df.PrimarySector.describe()

count            132
unique            11
top       Financials
freq              21
Name: PrimarySector, dtype: object

In [46]:
df.PrimarySector.value_counts()

Financials                21
Materials                 19
Energy                    18
Industrials               17
Utilities                 12
Real Estate               11
Consumer Discretionary     9
Consumer Staples           8
Information Technology     6
Communication Services     6
Health Care                5
Name: PrimarySector, dtype: int64

In [47]:
# Integer position based indexing - "iloc"
# Reference: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html

print(df.iloc[0]) # first row
print()
print(df.iloc[-1]) # last row
print()
print(df.iloc[:5,1]) # first five rows of first column

Name                  Agnico Eagle Mines Limited (NYSE:AEM)
TotalAssets                                         10715.5
TotalRevenue                                           2990
GeographicSegments                                        5
PrimarySector                                     Materials
Name: NYSE:AEM, dtype: object

Name                  Yamana Gold Inc. (TSX:YRI)
TotalAssets                              10933.9
TotalRevenue                              2454.1
GeographicSegments                             5
PrimarySector                          Materials
Name: TSX:YRI, dtype: object

Ticker
NYSE:AEM     10715.500000
TSX:AC       19197.000000
TSX:AGI       4455.500000
TSX:AQN      12811.599609
TSX:ATD.B    30426.300781
Name: TotalAssets, dtype: float32

In [48]:
# Label based indexing
# Reference:https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

print(df.loc['TSX:RY']) #get row RBC and all columns - equivalent of df.loc['TSX:RY', :]
print()
print(df.loc['TSX:RY','GeographicSegments']) # (row, column) - get number of geographic segments at RBC

Name                  Royal Bank of Canada (TSX:RY)
TotalAssets                             1.33473e+06
TotalRevenue                                  41269
GeographicSegments                                3
PrimarySector                            Financials
Name: TSX:RY, dtype: object

3.0

In [49]:
df.loc['TSX:RY',['Name','PrimarySector']]

Name             Royal Bank of Canada (TSX:RY)
PrimarySector                       Financials
Name: TSX:RY, dtype: object

In [39]:
# Select a column - three ways to do the same thing
print(df.Name[:3])
print(df['Name'][:3])
print(df.loc[:,'Name'][:3])

Ticker
NYSE:AEM    Agnico Eagle Mines Limited (NYSE:AEM)
TSX:AC                        Air Canada (TSX:AC)
TSX:AGI                Alamos Gold Inc. (TSX:AGI)
Name: Name, dtype: object
Ticker
NYSE:AEM    Agnico Eagle Mines Limited (NYSE:AEM)
TSX:AC                        Air Canada (TSX:AC)
TSX:AGI                Alamos Gold Inc. (TSX:AGI)
Name: Name, dtype: object
Ticker
NYSE:AEM    Agnico Eagle Mines Limited (NYSE:AEM)
TSX:AC                        Air Canada (TSX:AC)
TSX:AGI                Alamos Gold Inc. (TSX:AGI)
Name: Name, dtype: object

In [40]:
# Select multiple columns
print(df[['Name','PrimarySector']].head(3))
print()

                                           Name PrimarySector
Ticker
NYSE:AEM  Agnico Eagle Mines Limited (NYSE:AEM)     Materials
TSX:AC                      Air Canada (TSX:AC)   Industrials
TSX:AGI              Alamos Gold Inc. (TSX:AGI)     Materials

In [62]:
### Exercise ###
# Get info for the following tickers: 'TSX:RY', 'TSX:BMO', 'TSX:TD'
df.loc[['TSX:RY','TSX:BMO','TSX:TD']]

,Name,TotalAssets,TotalRevenue,GeographicSegments,PrimarySector
Ticker,,,,,
TSX:RY,Royal Bank of Canada (TSX:RY),1334734.0,41269.0,3.0,Financials
TSX:BMO,Bank of Montreal (TSX:BMO),774048.0,22375.0,3.0,Financials
TSX:TD,The Toronto-Dominion Bank (TSX:TD),1334903.0,36354.0,3.0,Financials

In [66]:
# Get the 25th and 26th rows and the Name & PrimarySector columns
df.iloc[24:26][['Name','PrimarySector']]
### End of Exercise ###

                                           Name           PrimarySector
Ticker
TSX:CCO            Cameco Corporation (TSX:CCO)                  Energy
TSX:GOOS  Canada Goose Holdings Inc. (TSX:GOOS)  Consumer Discretionary

In [67]:
df[['Name','PrimarySector']].iloc[24:26]

                                           Name           PrimarySector
Ticker
TSX:CCO            Cameco Corporation (TSX:CCO)                  Energy
TSX:GOOS  Canada Goose Holdings Inc. (TSX:GOOS)  Consumer Discretionary

In [73]:
# Sorting
df.sort_values('TotalAssets').head()

,Name,TotalAssets,TotalRevenue,GeographicSegments,PrimarySector
Ticker,,,,,
TSX:CRON,Cronos Group Inc. (TSX:CRON),261.100006,15.700000,2.0,Health Care
TSX:GOOS,Canada Goose Holdings Inc. (TSX:GOOS),725.400024,830.500000,3.0,Consumer Discretionary
TSX:DSG,The Descartes Systems Group Inc (TSX:DSG),858.900024,361.700012,4.0,Information Technology
TSX:BYD.UN,Boyd Group Income Fund (TSX:BYD.UN),1233.500000,1864.599976,2.0,Industrials
TSX:FSV,FirstService Corporation (TSX:FSV),1374.699951,2635.600098,2.0,Real Estate

In [74]:
print(df.nlargest(4,'TotalRevenue')[['Name','TotalRevenue']])
print(df.nsmallest(5,'TotalRevenue')[['Name','TotalRevenue']]) # what do you notice about the smallest by revenue?

                                                   Name  TotalRevenue
Ticker
TSX:BAM.A  Brookfield Asset Management Inc. (TSX:BAM.A)  79975.703125
TSX:ATD.B     Alimentation Couche-Tard Inc. (TSX:ATD.B)  79562.796875
TSX:MG                Magna International Inc. (TSX:MG)  55710.101562
NYSE:BBU   Brookfield Business Partners L.P. (NYSE:BBU)  50717.199219
                                                         Name  TotalRevenue
Ticker
TSX:CRON                         Cronos Group Inc. (TSX:CRON)     15.700000
TSX:ACB                        Aurora Cannabis Inc. (TSX:ACB)     55.200001
TSX:WEED                 Canopy Growth Corporation (TSX:WEED)    226.300003
TSX:GRT.UN  Granite Real Estate Investment Trust (TSX:GRT.UN)    246.500000
TSX:PSK                     PrairieSky Royalty Ltd. (TSX:PSK)    249.399994

In [75]:
# Boolean indexing
bool_series=df.TotalAssets>9000
bool_series[:5]

Ticker
NYSE:AEM      True
TSX:AC        True
TSX:AGI      False
TSX:AQN       True
TSX:ATD.B     True
Name: TotalAssets, dtype: bool

In [76]:
# Slicing based on conditions
df.loc[df.TotalAssets>9000,['Name','TotalAssets']].head()

                                                  Name   TotalAssets
Ticker
NYSE:AEM         Agnico Eagle Mines Limited (NYSE:AEM)  10715.500000
TSX:AC                             Air Canada (TSX:AC)  19197.000000
TSX:AQN    Algonquin Power & Utilities Corp. (TSX:AQN)  12811.599609
TSX:ATD.B    Alimentation Couche-Tard Inc. (TSX:ATD.B)  30426.300781
TSX:ALA                         AltaGas Ltd. (TSX:ALA)  23487.699219

In [77]:
# Dealing with missing values
df.isna().any() # identify which variables contain missing values

Name                  False
TotalAssets           False
TotalRevenue          False
GeographicSegments     True
PrimarySector         False
dtype: bool

In [78]:
df.loc[df.GeographicSegments.isna(),['Name','GeographicSegments']]

                                                    Name  GeographicSegments
Ticker
TSX:CNQ     Canadian Natural Resources Limited (TSX:CNQ)                 NaN
TSX:CSH.UN  Chartwell Retirement Residences (TSX:CSH.UN)                 NaN
TSX:EMP.A             Empire Company Limited (TSX:EMP.A)                 NaN
TSX:IAG          iA Financial Corporation Inc. (TSX:IAG)                 NaN
TSX:IPL                    Inter Pipeline Ltd. (TSX:IPL)                 NaN
TSX:PAAS            Pan American Silver Corp. (TSX:PAAS)                 NaN
TSX:PPL           Pembina Pipeline Corporation (TSX:PPL)                 NaN
TSX:SLF                Sun Life Financial Inc. (TSX:SLF)                 NaN

In [79]:
df.GeographicSegments = df.GeographicSegments.fillna(0) 

df.GeographicSegments.isna().any() # check if we succeeded

False

In [80]:
df.GeographicSegments = df.GeographicSegments.astype('int')

In [81]:
# Arithmetic & aggregation

numeric_df = df.select_dtypes(include='number')
print(numeric_df.head())

            TotalAssets  TotalRevenue  GeographicSegments
Ticker
NYSE:AEM   10715.500000   2990.000000                   5
TSX:AC     19197.000000  18065.000000                   5
TSX:AGI     4455.500000    889.400024                   4
TSX:AQN    12811.599609   2247.899902                   2
TSX:ATD.B  30426.300781  79562.796875                   3

In [82]:
numeric_df.apply(np.log).head().round(1) # applies function to each cell

           TotalAssets  TotalRevenue  GeographicSegments
Ticker
NYSE:AEM           9.3           8.0                 1.6
TSX:AC             9.9           9.8                 1.6
TSX:AGI            8.4           6.8                 1.4
TSX:AQN            9.5           7.7                 0.7
TSX:ATD.B         10.3          11.3                 1.1

In [83]:
numeric_df.sum() # defaults to summing over axis=0/axis='rows'

TotalAssets           1.053272e+07
TotalRevenue          1.535778e+06
GeographicSegments    5.970000e+02
dtype: float64

In [84]:
numeric_df.sum(axis='columns')[:5]

Ticker
NYSE:AEM      13710.500000
TSX:AC        37267.000000
TSX:AGI        5348.900024
TSX:AQN       15061.499512
TSX:ATD.B    109992.097656
dtype: float64

In [85]:
print(numeric_df.loc['NYSE:AEM'])
10715.5+2990+5 # check pandas sum of numeric variables

TotalAssets           10715.5
TotalRevenue           2990.0
GeographicSegments        5.0
Name: NYSE:AEM, dtype: float64

13710.5

In [86]:
a=df.TotalAssets+2000 # elementwise
print(a[:5])

Ticker
NYSE:AEM     12715.500000
TSX:AC       21197.000000
TSX:AGI       6455.500000
TSX:AQN      14811.599609
TSX:ATD.B    32426.300781
Name: TotalAssets, dtype: float32

In [87]:
b=df.TotalAssets*df.GeographicSegments # elementwise multiplication
b[:5]

Ticker
NYSE:AEM     53577.500000
TSX:AC       95985.000000
TSX:AGI      17822.000000
TSX:AQN      25623.199219
TSX:ATD.B    91278.902344
dtype: float64

In [88]:
# Assigning new data
df['AssetsInBillions'] = np.round(df.TotalAssets/1000) # create a new column
df.head()

,Name,TotalAssets,TotalRevenue,GeographicSegments,PrimarySector,AssetsInBillions
Ticker,,,,,,
NYSE:AEM,Agnico Eagle Mines Limited (NYSE:AEM),10715.500000,2990.000000,5,Materials,11.0
TSX:AC,Air Canada (TSX:AC),19197.000000,18065.000000,5,Industrials,19.0
TSX:AGI,Alamos Gold Inc. (TSX:AGI),4455.500000,889.400024,4,Materials,4.0
TSX:AQN,Algonquin Power & Utilities Corp. (TSX:AQN),12811.599609,2247.899902,2,Utilities,13.0
TSX:ATD.B,Alimentation Couche-Tard Inc. (TSX:ATD.B),30426.300781,79562.796875,3,Consumer Staples,30.0

In [89]:
# If a company has the number of geographic segments listed as 0, change it to it's median

print(len(df.loc[df.GeographicSegments==0]))
df.loc[df.GeographicSegments==0,'GeographicSegments'] = df.GeographicSegments.median()
print(len(df.loc[df.GeographicSegments==0]))

8
0

In [91]:
#### Exercise ###
# Correct the total assets figure for TSX:RNW from 3747 to 3477
df['TotalAssets'].loc['TSX:RNW']

3747.0

In [92]:
df['TotalAssets'].loc['TSX:RNW'] = 3477
df['TotalAssets'].loc['TSX:RNW']

C:\Users\hksingh\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

3477.0

In [96]:
df.loc['TSX:RNW','TotalAssets']=3747
df.loc['TSX:RNW','TotalAssets']

3747.0

In [97]:
df.loc['TSX:RNW','TotalAssets']=3477
df.loc['TSX:RNW','TotalAssets']

3477.0

In [99]:
# Create a new column that gives the average revenue per geographic segment (Revenue/Segment)
df['AvgRev']=round(df['TotalRevenue']/df['GeographicSegments'],2)
df.head()
### End of Exercise ###

,Name,TotalAssets,TotalRevenue,GeographicSegments,PrimarySector,AssetsInBillions,AvgRev
Ticker,,,,,,,
NYSE:AEM,Agnico Eagle Mines Limited (NYSE:AEM),10715.500000,2990.000000,5.0,Materials,11.0,598.00
TSX:AC,Air Canada (TSX:AC),19197.000000,18065.000000,5.0,Industrials,19.0,3613.00
TSX:AGI,Alamos Gold Inc. (TSX:AGI),4455.500000,889.400024,4.0,Materials,4.0,222.35
TSX:AQN,Algonquin Power & Utilities Corp. (TSX:AQN),12811.599609,2247.899902,2.0,Utilities,13.0,1123.95
TSX:ATD.B,Alimentation Couche-Tard Inc. (TSX:ATD.B),30426.300781,79562.796875,3.0,Consumer Staples,30.0,26520.93

In [62]:
# Groupby
# References: 
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html, 
# https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

group = df.groupby(['PrimarySector']).median().round(1).sort_values('TotalAssets', ascending=False)
print(type(df.groupby(['PrimarySector'])))
print(type(group))
group

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
<class 'pandas.core.frame.DataFrame'>

,TotalAssets,TotalRevenue,GeographicSegments,AssetsInBillions
PrimarySector,,,,
Financials,271827.000000,24231.099609,3.0,272.0
Utilities,23415.800781,4316.799805,3.0,23.0
Communication Services,23171.000000,9667.000000,1.0,23.0
Energy,16199.500000,7398.600098,2.5,16.0
Real Estate,10453.099609,1083.199951,2.0,10.0
Consumer Staples,10403.900391,19816.400391,2.5,10.5
Industrials,7766.600098,6996.000000,4.0,8.0
Materials,7027.600098,2454.100098,5.0,7.0
Information Technology,4589.399902,2608.500000,5.5,4.5
Consumer Discretionary,4094.800049,3964.000000,6.0,4.0
Health Care,3318.800049,226.300003,3.0,3.0

In [63]:
# Pivot table
pivot_df = df.pivot_table(values=['TotalAssets','TotalRevenue'],index=['PrimarySector'],aggfunc=np.mean).round(1).sort_values('TotalAssets', ascending=False)
print(type(pivot_df))
pivot_df

<class 'pandas.core.frame.DataFrame'>

                          TotalAssets  TotalRevenue
PrimarySector
Financials              396182.000000  24718.099609
Energy                   35740.500000  13658.599609
Utilities                25889.800781   4208.399902
Communication Services   25534.300781  10750.400391
Real Estate              23424.500000   2188.699951
Consumer Staples         17547.699219  29310.000000
Industrials              14655.500000  10309.500000
Materials                13551.000000   4859.899902
Consumer Discretionary   11894.099609  10514.799805
Health Care              11711.799805   2520.000000
Information Technology    5901.899902   3741.899902

In [64]:
df.pivot_table(values=['TotalAssets','TotalRevenue'],columns=['PrimarySector'],aggfunc=np.mean).round(1)

PrimarySector,Communication Services,Consumer Discretionary,Consumer Staples,Energy,Financials,Health Care,Industrials,Information Technology,Materials,Real Estate,Utilities
TotalAssets,25534.300781,11894.099609,17547.699219,35740.500000,396182.000000,11711.799805,14655.5,5901.899902,13551.000000,23424.500000,25889.800781
TotalRevenue,10750.400391,10514.799805,29310.000000,13658.599609,24718.099609,2520.000000,10309.5,3741.899902,4859.899902,2188.699951,4208.399902

In [102]:
# Exercise
# Get the median value total assets value for each sector in the dataset, try using either groupby or pivot_table
df.groupby(['PrimarySector']).median().round(1).sort_values('TotalAssets', ascending=False)[['TotalAssets']]

                          TotalAssets
PrimarySector
Financials              271827.000000
Utilities                23415.800781
Communication Services   23171.000000
Energy                   16199.500000
Real Estate              10453.099609
Consumer Staples         10403.900391
Industrials               7766.600098
Materials                 7027.600098
Information Technology    4589.399902
Consumer Discretionary    4094.800049
Health Care               3318.800049

In [100]:
# Exercise
# Get the median value total assets value for each sector in the dataset, try using either groupby or pivot_table
df.pivot_table(values=['TotalAssets'],index=['PrimarySector'],aggfunc=np.median).round(1).sort_values('TotalAssets', ascending=False)

                          TotalAssets
PrimarySector
Financials              271827.000000
Utilities                23415.800781
Communication Services   23171.000000
Energy                   16199.500000
Real Estate              10453.099609
Consumer Staples         10403.900391
Industrials               7766.600098
Materials                 7027.600098
Information Technology    4589.399902
Consumer Discretionary    4094.800049
Health Care               3318.800049